@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Arimo';
    src: url("../font/Arimo-Bold.ttf") format("truetype");
    font-weight : bold;
}
body{
    font-family: 'Arimo', sans-serif;
}
.search-container{
    display: none;
}
div.search-container.active{
    display: flex;
    justify-content: center;
    color: #000000;
    padding: 20px 0 20px 0;
    background: #4d4b55;
}
div.search-container select{
    margin-right: 15px;
    margin-left: 5px;
}
.empty{
    font-size: 20pt;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    display: none;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #25232b;
    height: 100px;
}
.logo {
    cursor: pointer;
    margin: 0 50px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    font-size: 20pt;

}

.btn-start{
    color: #000000;
    padding: 10px 20px;
    border-radius: 4px;
    background: #a2e969;
    border: none;
    margin: 0 50px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

.btn-start:hover {
    background: #69c723;
}
.red{
    color: #DC143C;
}
.blue{
    color: #3036ff;
}
.yellow{
    color: #ffd60c;
}
.green{
    color: #51a809;
}
.enter, .new-post{
    display: none;
}
form.enter.active{
    display: block;
    margin: auto;
}
.new-post{
    width: 800px;
    margin: auto;
    background: rgb(14, 15, 15);
    border: 1px solid #b9b9b9;
}
.new-post input, .new-post select, .new-post textarea{
    width: 99.7%;
    padding: 8px 0;
    background: rgb(28, 30, 33);
    color: rgb(52, 56, 61);
    outline: none;
    margin-bottom: 5px;
}
.new-post select{
    width: 100%;
    color: white;
    cursor: pointer;
}
.new-post .new-post__input--btn{
    color: white;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: none;
    background: rgb(14, 15, 15);
    text-transform: uppercase;
}

.new-post__input--btn:hover {
    color: #c3c3c3;
}



.new-post input:focus, .new-post textarea:focus{
    color: #bbbbbb;
}
.new-post__cardiologist {
    display: none;
}

.new-post__dentist {
    display: none;
}

.new-post__therapist {
    display: none;
}
.active{
    display: block;
}
.additional-information{
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease;
}
.btn-start{
    display: none;
}
.btn-active{
    display: inline;
}
.blur{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: rgba(2, 2, 2, 0.8);
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-box{
    padding: 10px;
    background: #e84564;
    color: #000000;
    border-radius: 4px;
}
.posts-container{
    display: grid;
    padding: 20px 50px;
    font-weight: 500;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    line-height: 30px;
    align-items: center;
}


/* ====== СТАРЫЕ СТИЛИ ==================================== */
/*.more-info, .rework, .remove{*/
/*    padding: 1px 25px;*/
/*    border-radius: 10px;*/
/*    font-weight: 700;*/
/*    color: white;*/
/*    background: rgb(83, 90, 98);*/
/*}*/
/*.rework, .remove{*/
/*    float: right;*/
/*    padding: 5px 15px;*/
/*}*/


/* ====== НОВЫЕ СТИЛИ ==================================== */

.more-info {
    padding: 2px 10px;
    background: rgba(109, 116, 124, .4);
    border: none;
    cursor: pointer;
    font-size: 15px;
    border-radius: 4px;
    /*background: #c59f41;*/
    mix-blend-mode: color-burn;
}

.more-info:hover {
    background: rgba(109, 116, 124, .6);

}

.rework, .remove{
    float: right;
    padding: 5px 15px;
    border-radius: 4px;
    color: #000000;
    background: rgba(109, 116, 124, .4);
    border: none;
    margin-left: 5px;
    cursor: pointer;
    mix-blend-mode: color-burn;

}

.rework:hover {
    background: rgba(109, 116, 124, .6);
}
.remove:hover {
    background: rgba(109, 116, 124, .6);
}

/*===========================================*/



.done{
    background: #a2e969;
}
#error{
    background: #e84564;
}
.posts-container.empty-box{
    display: block;
    text-align: center;
}
.posts-container.empty-box .empty{
    display: inline;
}
.search__btn{
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 15px;
    padding: 5px 15px;
    background: #c7c7c7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /*outline: none;*/
}

.search__btn:hover {
    background: #a5a5a5;
}
.search__btn:active {
    background: #828282;
}